# Three Methods are there to fill values in pandas Data Frame

## 1: fillna() method: It fill Nan values to given values.
## 2: interpolate() method: It first guess the values and then fills the correct guessed values in          place of Nan or missing values (integer values only).

In [1]:
from pandas import *

In [30]:
df=read_csv("E:\Records2.csv")
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925.0,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804.0,205.7
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779.0,Invalid
3,Sub-Saharan Africa,Sao Tome and Principe,NaN,Online,C,6/20/2014,514321792,07-05-2014,NaN,Invalid
4,Sub-Saharan Africa,Rwanda,NaN,Offline,L,02-01-2013,115456712,02-06-2013,NaN,Invalid
5,Australia and Oceania,Solomon Islands,NaN,Online,C,02-04-2015,547995746,2/21/2015,NaN,Invalid
6,Sub-Saharan Africa,Angola,NaN,Offline,M,4/23/2011,135425221,4/27/2011,NaN,Invalid
7,Sub-Saharan Africa,Burkina Faso,NaN,Online,H,7/17/2012,871543967,7/27/2012,NaN,Invalid
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,NaN,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,NaN,205.7
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124.0,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168.0,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263.0,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974.0,668.27

## fillna() method

In [26]:
df.fillna(100,inplace=True)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925.0,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804.0,205.7
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779.0,Invalid
3,Sub-Saharan Africa,Sao Tome and Principe,100,Online,C,6/20/2014,514321792,07-05-2014,100.0,Invalid
4,Sub-Saharan Africa,Rwanda,100,Offline,L,02-01-2013,115456712,02-06-2013,100.0,Invalid
5,Australia and Oceania,Solomon Islands,100,Online,C,02-04-2015,547995746,2/21/2015,100.0,Invalid
6,Sub-Saharan Africa,Angola,100,Offline,M,4/23/2011,135425221,4/27/2011,100.0,Invalid
7,Sub-Saharan Africa,Burkina Faso,100,Online,H,7/17/2012,871543967,7/27/2012,100.0,Invalid
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,100.0,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,100.0,205.7
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124.0,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168.0,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263.0,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974.0,668.27

## interpolate() method

In [36]:
df.interpolate(inplace=True)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925.000,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804.000,205.7
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779.000,Invalid
3,Sub-Saharan Africa,Sao Tome and Principe,NaN,Online,C,6/20/2014,514321792,07-05-2014,1572.125,Invalid
4,Sub-Saharan Africa,Rwanda,NaN,Offline,L,02-01-2013,115456712,02-06-2013,1365.250,Invalid
5,Australia and Oceania,Solomon Islands,NaN,Online,C,02-04-2015,547995746,2/21/2015,1158.375,Invalid
6,Sub-Saharan Africa,Angola,NaN,Offline,M,4/23/2011,135425221,4/27/2011,951.500,Invalid
7,Sub-Saharan Africa,Burkina Faso,NaN,Online,H,7/17/2012,871543967,7/27/2012,744.625,Invalid
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,537.750,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,330.875,205.7
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124.000,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168.000,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263.000,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974.000,668.27